*
{
    margin: 0;
    padding: 0;
}

.body
{
    font-family:serif;
}


/***************************************Nav Bar******************************************/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#000000, #000000);
    padding: 0 !important; 
    
}

.navbar-brand1 img
{
    height: 45px;
}


.navbar-brand img
{
    height: 45px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
   color: #fff;
   font-weight: 600;
   float: right;
   text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 30px; 
}

.navbar-toggler
{
    outline: none !important;
}


.navbar-brand img:hover
{
    transform:scale(1.1) ;
}

/***************************************Taxi Cars******************************************/

.Taxicars img {
    padding: 10px;
    width: 500PX; 
    height: 300;
    margin-top: 30px;
}

.Taxicars img
{
    width: 100%;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
}

.Taxicars img:hover
{
    transform:scale(1.1) ;
}

.taxi-bottom h3
{
    font-size: 25px;
    font-weight: bold;
}

.taxi-bottom h5
{
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(25, 24, 24);
}
.footer-size{
    height: 50px;
}

